# Uma análise do mercado Segurador brasileiro

## Perguntas referencia
1. Crescimento entre seguradoras por premio ganho e emitido
2. top premio emitido
3. Market Share regra do link
4. Indice de Eficiencia : Despesa Administrativa/premio emitido
5. indice de sinistralidade: sinistros ocorridos / premio ganho
6. combined: sinistralidade + custo de aquisicao / premio ganho

## 1. Set up

Import some packages and the files I am goint to use.

In [2]:
#import the libraries
import pandas as pd
import pyodbc
import os.path
import numpy as np
import datetime
pd.set_option('display.float_format', lambda x: '%.2f' % x)
pd.set_option('display.max_rows', None)

In [3]:
path = '/Users/Lucas/Sicoob/Produtos e Processos de Seguros - Documentos/GERENCIA DE PROCESSOS E PRODUTOS/3. NÚCLEO DE INFORMAÇÕES GERENCIAIS/Estudos/Mercado Segurador/SES-SUSEP/'

#income statments sheet
income_statment = pd.read_csv(path+'SES_Balanco.csv', ';',decimal =',',dtype={'valor': np.float64})

#companies
companies = pd.read_csv(path+'SES_cias.csv', ';',encoding='latin-1')

#encode for the income statments base fields 
fields = pd.read_csv(path+'SES_campos.csv', ';',encoding='latin-1')

#values of prize by branch
dataBybranch = pd.read_csv(path+'Ses_seguros.csv', ';',encoding='latin-1')

#comanies holdings
company_goup = pd.read_csv(path+'Ses_grupos_economicos.csv', ';',encoding='latin-1')

foresight = pd.read_csv(path+'Ses_Contrib_Benef.csv',';',encoding='latin-1')

/Users/Lucas/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

## 2. Exploratory analysis

I am going to do a Exploratory analysis over the bases I imported. Important statments:
 - The fields base has a end of term column. The last end of term is 210001 which stand for year 2020 and month 01 (janary)
 - the income_statmente has only one field tha should be of type float, which is 'values'
 - the income_statment is showing the cumulative sum of the values of each field
 - the are some Nan values in the premium dataset.

In [4]:
#income_statment.info()
#companies.head()
#fields.fimvigencia.unique()
#fields.info()
#max(set(fields.fimvigencia)) ## 201906
fields[fields.noitem.str.contains(regex=True,pat='(Donativos e Contribuições)')].nuitem.unique()
company_goup.head()

/Users/Lucas/opt/anaconda3/lib/python3.7/site-packages/pandas/core/strings.py:1952: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  return func(self, *args, **kwargs)

,damesano,coenti,noenti,cogrupo,nogrupo
0,200405,1007,SABEMI SEGURADORA SA ...,1225,INDEPENDENTE
1,200708,1619,DAYPREV VIDA E PREVIDÊNCIA S.A. ...,99999,OUTROS GRUPOS
2,201001,2062,LUIZASEG SEGUROS S/A ...,1203,CARDIF
3,200602,2143,ASSURANT SEGURADORA SA ...,1225,INDEPENDENTE
4,200709,2895,Alfa Previdência e Vida S.A. ...,1192,ALFA

## 3. Clean the base

The premium base is the core of our dataset and holds several importate rubrics for our analysis separated by branch. It has the following columns of interest:
    - damesano: year-month 202005
    - coenti: companies code
    - cogrupo: insurancer holding
    - coramo: branch's code :first 2 digits are the branch group and the last 2 are the specific branch
    - premio_emitido2: the premium 
    - premio_ganho: Earned Premium, according to the National Insurance brokers association (NIBA) glossary:
        
        "Insurance policies usually run for a period of 12 months. An insured
         can cancel a policy at any time and request a refund of premium.
         Therefore, insurers must only take into the books of account that
         portion of premium which corresponds to actual elapsed time on risk.
         That portion of premium which can be taken up in the accounts is
         called earned premium. That portion of premium yet to expire is"
        
    - sinistro_ocorrido: insurances claimed
    - desp_com: comercial expanses, like comission

I'll start separating 1 column for all the branches that a company work and another column for just the life branches. 

For life branch's we need to filter the first two coramo digits to 9,13 and only the full 'coramo' code 1198. The code 1198 is a specific branch called "farmer's life insurance". By some reason, not in the regular branches 9 and 13.

In all the dataset's, when possible, I selected the dates after december 2016 (201612).

In [75]:
premium = dataBybranch.copy()

premium['damesano'] = pd.to_datetime(premium['damesano'],format='%Y%m')
premium = premium[premium.damesano.dt.year>2016]
cols = premium.columns[premium.dtypes.eq('object')]
#since brazilian deciamal separator is represented by ',', i need to change all the , by . to peform to_nuemric
premium[cols] = premium[cols].replace('(,)','.',regex=True)
#some of the data have mix negative positive values when it should all be positive, so i use the .abs()
premium[cols] = premium[cols].apply(pd.to_numeric, errors='coerce').abs() 

#there are few nan values in the dataset. There are no big disadvantages in replacing it for 0's
premium.fillna(0,inplace=True)

#aggregate the values for year and company
life_premium = premium[(premium.coramo.astype(int).astype(str).str[:-2].astype(int).isin([9,13])) 
                  | (premium.coramo==1198) ].groupby(['coenti','damesano']).sum().reset_index() 
all_premium = premium.groupby(['coenti','damesano']).sum().reset_index()[['coenti','damesano','premio_emitido2']]

premium_comparison = life_premium.merge(all_premium
                                        ,left_on=['coenti','damesano']
                                        ,right_on=['coenti','damesano']
                                        ,suffixes=['_life','_all'])

keep_columns = ['coenti','damesano','premio_emitido2_life','premio_emitido2_all','premio_ganho','sinistro_ocorrido','desp_com']
premium_comparison = premium_comparison.filter(keep_columns,axis=1)

#change names for easy understanding
premium_comparison.rename(columns={
    "premio_emitido2_life":"premium_life",
    "premio_emitido2_all": "premium_all",
    "premio_ganho": "earned_life_premium",
    "sinistro_ocorrido": "insurance_claimed",
    "desp_com":"comercial_expanses"},
    inplace=True)

premium_comparison.head()

,coenti,damesano,premium_life,premium_all,earned_life_premium,insurance_claimed,comercial_expanses
0,1007,2017-01-01,10550016.51,15306550.23,10581494.19,234326.34,2346595.00
1,1007,2017-02-01,10500241.57,13113736.91,10526712.73,1031894.16,2422182.27
2,1007,2017-03-01,14577912.72,17091306.44,11326174.28,513454.34,2218428.61
3,1007,2017-04-01,14082756.03,16057999.36,14401689.24,221257.18,2316204.26
4,1007,2017-05-01,12902987.98,15019202.57,13230197.73,850923.47,2452322.89

In [84]:
risk_data = foresight[foresight.tipoProd=='PrevTrad']

risk_data['damesano'] = pd.to_datetime(risk_data['damesano'],format='%Y%m')
risk_data = risk_data[risk_data.damesano.dt.year>2016]

risk_data[['contrib','benef']] = risk_data[['contrib','benef']].replace('(,)','.',regex=True).apply(pd.to_numeric, errors='coerce').abs() 
risk_data.drop('tipoProd',axis=1,inplace=True)
risk_data.head()

/Users/Lucas/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

    coenti   damesano    contrib      benef
17   10707 2018-12-01 1160557.23  696094.35
19    6033 2019-09-01 3300143.69 1417532.53
44   10901 2018-03-01  653373.46  172945.21
53   11088 2018-02-01    9772.00   22430.44
68    5070 2020-03-01 3659705.73  280990.91

The income_statmente dataset contains:
    - coenti: companies code
    - damesano: year-month 2020-05
    - cmpid: field code in the income_statment
    - valor: values
    - seq: order of the field in the income_statment
    - quadro: type of accounting statement
    

For the income_statment base I filter the column 'quadro' to bring onlt the ones with ' 23' because this the code for the sheet of the income statment. Also, I filtered only the rubrics we need for the analyses:
 - 4069: that is the administrative expense (ae)
 - 6314: employee expenses 
 - 6315: third-party spending
 - 6317: publicity
 - 6319: donations

In [5]:
    income_statment = income_statment[(income_statment['damesano']>201612) &
                      (income_statment['quadro'] == '23 ') &
                      (income_statment.cmpid.isin([4069,6314,6315]))
                     ] 

# I prefered to work with the income_statment in wide format rather then long, so I converted the data frame.
income_statment = pd.pivot_table(income_statment, index=['coenti','damesano'],columns='cmpid', values='valor').rename_axis(None, axis=1).reset_index()
income_statment.rename(columns={4069: "ae",
                6314: "ae_employee",
                6315: "ae_3pspending",
                6317: "ae_publicity",
                6319: "ae_donations"}
       ,inplace=True )

#filtering the last period of each year
income_statment ['damesano'] = pd.to_datetime(income_statment['damesano'],format='%Y%m')
income_statment['year'] = income_statment.damesano.dt.year
last_is = income_statment.groupby(['coenti','year']).max().reset_index()[['coenti','damesano']]
income_statment = income_statment.merge(last_is,left_on=['coenti','damesano'],right_on=['coenti','damesano'])

income_statment.drop('damesano',axis=1,inplace=True)
income_statment.head()

   coenti            ae  ae_employee  ae_3pspending  year
0    1007  -84945871.94 -32670914.56   -27031670.20  2017
1    1007 -110979218.53 -41663000.21   -34792803.26  2018
2    1007 -120870713.01 -40558909.19   -38199930.77  2019
3    1007  -39285988.54 -12235318.12   -14653105.72  2020
4    1015  -99919567.14 -66467556.99   -19859984.50  2020

The company_group dataset contains:
    - coenti
    - damesano: year-month of that group info to the company
    - noenti: name of company
    - cogrupo: code of company group
    - nogrupo: name of company group

In [34]:
#chosing only the latest group names
company_goup_key = company_goup.groupby('coenti').max().reset_index()[['coenti','damesano']]
company_goup = company_goup.merge(company_goup_key,how='inner',left_on=['coenti','damesano'],right_on=['coenti','damesano'])

#if the group is independent
company_goup.nogrupo = np.where(company_goup.cogrupo.isin(['1225','99999']),
                                company_goup.noenti.str.strip(),
                                company_goup.nogrupo.str.strip())
company_goup = company_goup[['coenti','nogrupo']]

#this comapnies belong to the same group but they weren't grouped. I'll do it manualy 
company_goup.replace(['Zurich Santander Brasil Seguros e Previdencia S/A','ZURICH BRASIL COMPANHIA DE SEGUROS'],
                     'ZURICH',
                     inplace=True)

In [85]:
#combinig the data sets
#final_dataset = premium_comparison.merge(income_statment,left_on=['coenti','year'],right_on=['coenti','year'])
final_dataset = company_goup.merge(premium_comparison,left_on='coenti',right_on='coenti')
final_dataset = final_dataset.merge(risk_data,left_on=['coenti','damesano'],right_on=['coenti','damesano']) 
final_dataset.head()

,coenti,nogrupo,damesano,premium_life,premium_all,earned_life_premium,insurance_claimed,comercial_expanses,contrib,benef
0,6220,SUL AMERICA,2017-01-01,31459636.37,31459636.37,36168882.24,18309246.22,10174681.28,4203735.14,4786730.72
1,6220,SUL AMERICA,2017-02-01,31116285.24,31116285.24,35295366.24,21259966.08,9751599.99,3455455.12,5018101.34
2,6220,SUL AMERICA,2017-03-01,34471430.13,34471430.13,36587923.00,12523930.89,10539065.70,5184190.68,7973820.66
3,6220,SUL AMERICA,2017-04-01,33466474.32,33466474.32,35667234.88,17473838.93,9976480.99,3964834.52,5289016.05
4,6220,SUL AMERICA,2017-05-01,38297913.60,38297913.60,35769344.96,23071867.06,10542046.32,4235829.76,6675468.59

## 4. Creating KPI's 

Some important indicators in the insurance business are: 
- Operetional Eficiency Indicator adminstative expanses / premium;
- Loss ratio insurance_claimed / premium;
- Combined (comercial_expanses + insurance_claimed) /premium

Since the adminstative expanses are informed in the income statment for the whole operation of each company, I will use the proportional expanses of the life branch in order to calculate the EIO.

In [86]:
final_dataset.premium_life = final_dataset.premium_life + final_dataset.contrib
final_dataset.premium_all = final_dataset.premium_all + final_dataset.contrib
final_dataset.insurance_claimed = final_dataset.insurance_claimed + final_dataset.benef

#ae_proportion = final_dataset.premium_life/final_dataset.premium_all
#final_dataset['OEI'] = -final_dataset.ae * ae_proportion / final_dataset.premium_life
final_dataset['loss_ratio'] = final_dataset.insurance_claimed / final_dataset.premium_life
final_dataset['combined'] = (final_dataset.comercial_expanses + final_dataset.insurance_claimed) / final_dataset.premium_life

final_dataset = final_dataset.sort_values(['coenti','damesano'])
final_dataset['pct'] = final_dataset.groupby(['coenti','nogrupo']).apply(lambda x: x['premium_life'].pct_change()).values

final_dataset.head()

,coenti,nogrupo,damesano,premium_life,premium_all,earned_life_premium,insurance_claimed,comercial_expanses,contrib,benef,loss_ratio,combined,pct
770,1007,SABEMI SEGURADORA SA,2017-01-01,11698588.17,16455121.89,10581494.19,544608.24,2346595.00,1148571.66,310281.90,0.05,0.25,nan
771,1007,SABEMI SEGURADORA SA,2017-02-01,11685755.18,14299250.52,10526712.73,1172396.45,2422182.27,1185513.61,140502.29,0.10,0.31,-0.00
772,1007,SABEMI SEGURADORA SA,2017-03-01,15827305.89,18340699.61,11326174.28,916450.02,2218428.61,1249393.17,402995.68,0.06,0.20,0.35
773,1007,SABEMI SEGURADORA SA,2017-04-01,15360325.56,17335568.89,14401689.24,373645.72,2316204.26,1277569.53,152388.54,0.02,0.18,-0.03
774,1007,SABEMI SEGURADORA SA,2017-05-01,14190937.51,16307152.10,13230197.73,1163791.47,2452322.89,1287949.53,312868.00,0.08,0.25,-0.08

In [56]:
final_dataset[final_dataset.year==2019].sort_values('premium_life',ascending=False).head(20)

,coenti,nogrupo,year,premium_life,premium_all,earned_life_premium,insurance_claimed,comercial_expanses,ae,ae_employee,ae_3pspending,premium_risk,OEI,loss_ratio,combined,pct
229,6785,BBMAPFRE,2019,6038849628.12,8495657549.32,5206385544.54,1315576988.60,2199342698.42,-412418836.06,-177445620.26,-102104296.07,0.00,0.05,0.22,0.58,0.18
237,6866,BRADESCO,2019,5185899464.06,5200218319.46,3754988777.38,1311967992.03,903322084.92,-929874158.35,-563898923.03,-137667196.71,1060418872.74,0.18,0.25,0.43,-0.07
85,5070,ZURICH,2019,4697178008.63,4757211621.40,4296327834.89,641648851.67,2285275483.71,-191987657.73,-78054904.53,-56228116.45,47299843.86,0.04,0.14,0.62,0.11
141,5631,CAIXA ECONÔMICA S/A,2019,3394888525.07,6781192523.69,2533895628.93,486426239.59,729769669.99,-521805364.78,-151043953.50,-158348939.18,0.00,0.08,0.14,0.36,0.20
121,5321,ITAÚ,2019,2829057953.89,3666743075.53,2576445285.39,493609545.24,706896408.31,-640462791.25,-55505939.45,-39663747.90,0.00,0.17,0.17,0.42,0.09
97,5142,ICATU,2019,1549012995.72,1593425115.23,1513883386.17,653141480.92,563534202.77,-256293031.94,-125564994.15,-30742700.20,7499534.09,0.16,0.42,0.79,0.18
209,6548,CARDIF,2019,1324084648.22,1324160208.99,1232636240.83,111574132.28,769185799.69,-142242674.27,-43412246.28,-28711687.50,0.00,0.11,0.08,0.67,0.08
47,2101,MONGERAL AEGON SEGUROS E PREVIDÊNCIA S. A.,2019,1154206996.69,1170123453.40,628893684.58,274847461.50,185080749.98,-362005712.62,-210465570.09,-44062822.17,515908349.32,0.31,0.24,0.40,0.17
201,6351,METROPOLITAN LIFE SEGUROS E PREVIDÊNCIA,2019,996275196.94,996275196.94,951053189.75,480045157.59,371024320.05,-149462857.25,-94190098.28,-11966209.76,201921.69,0.15,0.48,0.85,0.04
89,5096,ITAÚ,2019,904890087.74,904890087.74,641430296.61,216942201.74,124257378.38,-564936189.49,-5386627.25,-810835.90,272127641.94,0.62,0.24,0.38,-0.03
165,5886,PORTO SEGURO,2019,894035704.03,9325836906.43,855021063.04,275083013.39,253503458.25,-1491726377.39,-1117269308.40,-492107018.70,0.00,0.16,0.31,0.59,0.12
113,5665,MAPFRE,2019,869674319.13,884167352.15,858421542.63,548833976.10,163206471.41,-111865120.14,-47736542.02,-34252390.00,0.00,0.13,0.63,0.82,0.04
153,5495,ZURICH,2019,750516593.43,4239115627.00,707148552.62,259439844.29,290755634.62,-804231832.81,-277979151.17,-168808621.72,0.00,0.19,0.35,0.73,0.11
193,6301,ICATU,2019,589656142.49,608842068.41,578595935.61,124358782.12,214547419.88,-117841386.77,-26261.80,-105792297.56,887173.17,0.19,0.21,0.57,0.16
276,6238,MAPFRE,2019,584395399.74,6211456725.22,569950548.23,153286421.64,232920133.59,-658961888.48,-309374244.42,-190570289.10,0.00,0.11,0.26,0.66,-0.08
249,6947,UNIMED,2019,583126116.97,583400904.03,576393746.59,293122964.91,112252916.00,-160692134.21,-66767203.45,-49071972.78,6258433.64,0.28,0.50,0.70,0.07
2,6220,SUL AMERICA,2019,545246249.38,545246249.38,560593602.50,284972027.53,152216669.93,-113509945.04,-33761129.05,-69336792.50,16766086.11,0.21,0.52,0.80,0.03
355,3654,SICOOB SEGURADORA DE VIDA E PREVIDENCIA S. A.,2019,505752467.35,505752467.35,366573954.55,138327508.76,135217038.76,-24338385.42,-12409099.05,-6271647.38,18315899.40,0.05,0.27,0.54,0.51
205,6513,CHUBB SEGUROS BRASIL S.A.,2019,505595041.61,2401791824.53,501879871.85,111351923.05,238381022.51,-386224111.01,-189712345.63,-122586858.31,0.00,0.16,0.22,0.69,0.08
169,5908,GENERALLI,2019,409013858.75,775251094.68,362380018.49,181030559.46,110240295.15,-146052192.59,-73350777.38,-22928902.34,0.00,0.19,0.44,0.71,0.22

In [58]:
final_dataset[final_dataset.year==2019].sort_values('pct',ascending=False).head(20)

,coenti,nogrupo,year,premium_life,premium_all,earned_life_premium,insurance_claimed,comercial_expanses,ae,ae_employee,ae_3pspending,premium_risk,OEI,loss_ratio,combined,pct
317,4782,NEWE SEGUROS S.A.,2019,96.13,81113804.68,96.13,114.71,0.96,-10973718.93,-6917789.49,-4377752.86,0.00,0.14,1.19,1.20,inf
298,4669,FAIRFAX BRASIL SEGUROS CORPORATIVOS S.A,2019,3819452.18,846363307.64,2906515.13,1277253.06,1465675.88,-61173478.87,-35161375.47,-8146093.21,0.00,0.07,0.33,0.72,19.33
280,6688,COSESP - CIA DE SEG DO EST. DE S.P.,2019,12514681.72,12514681.72,8956633.92,25134374.81,62.07,-11172919.60,-9176758.52,-836375.15,0.00,0.89,2.01,2.01,15.10
217,6602,Mitsui Sumitomo Seguros S/A,2019,78714281.80,564648917.50,78628312.22,8441885.17,8491439.73,-93940899.17,-58866125.17,-10128361.05,0.00,0.17,0.11,0.22,4.09
261,6572,TALANX AG,2019,10726035.74,3560843626.71,10725975.35,3129270.09,5347098.40,-426391391.23,-236818395.39,-101166005.31,0.00,0.12,0.29,0.79,0.99
294,2950,SANCOR SEGUROS DO BRASIL S.A.,2019,183846770.67,442468656.24,156794000.55,122479003.42,41808687.11,-65941986.81,-32690416.34,-8820153.31,0.00,0.15,0.67,0.89,0.94
51,2143,ASSURANT SEGURADORA SA,2019,68147711.65,767549560.69,56358259.99,4683149.07,35646639.84,-112230485.97,-42455097.08,-38712454.63,0.00,0.15,0.07,0.59,0.56
355,3654,SICOOB SEGURADORA DE VIDA E PREVIDENCIA S. A.,2019,505752467.35,505752467.35,366573954.55,138327508.76,135217038.76,-24338385.42,-12409099.05,-6271647.38,18315899.40,0.05,0.27,0.54,0.51
284,8737,AIG SEGUROS BRASIL S.A.,2019,70724317.27,690548529.48,61003160.98,43665845.44,299962.59,-123823831.46,-62648132.42,-65557139.18,0.00,0.18,0.62,0.62,0.46
133,5444,BRADESCO,2019,327279505.24,330052976.75,336150562.39,128481958.15,98291902.18,-375020462.89,-285333333.20,-40456711.30,0.00,1.14,0.39,0.69,0.42
338,6084,MBM,2019,48465408.95,56600783.18,44474292.41,10104388.52,12650618.44,-27080606.23,-19102336.19,-2884452.80,2345155.41,0.48,0.21,0.47,0.37
35,1414,Berkley International do Brasil Seguros S/A,2019,3627576.36,314725120.04,3779969.88,67284.05,1458586.43,-49495843.08,-26742897.49,-9404933.31,0.00,0.16,0.02,0.42,0.36
245,6921,RURAL,2019,13453050.45,128082375.28,13263626.15,10495013.05,2274287.49,-25763479.78,-12757457.95,-5308587.51,0.00,0.20,0.78,0.95,0.35
330,4928,STARR INTERNATIONAL BRASIL SEGURADORA S.A.,2019,73222354.19,226851545.95,72159156.10,53081330.03,11694166.99,-18882507.43,-10020927.75,-4195629.80,0.00,0.08,0.72,0.88,0.33
359,3671,USEBENS SEGUROS S/A,2019,106787030.87,131622505.24,66924026.85,7640066.88,46340821.86,-14492370.29,-3504709.99,-6429130.27,0.00,0.11,0.07,0.51,0.32
74,2968,GAZIN SEGUROS S.A.,2019,17169946.06,137554260.79,16133486.55,1794430.32,7711529.50,-4802459.22,-1362332.69,-1787964.35,0.00,0.03,0.10,0.55,0.31
334,5282,PRUDENTIAL DO BRASIL SEGUROS DE VIDA S.A,2019,87451426.32,87451426.32,84699980.20,11456242.49,585951661.08,-982211325.20,-142602477.26,-161772845.59,0.00,11.23,0.13,6.83,0.27
105,5185,LIBERTY,2019,271498793.88,3804233457.08,244465123.21,113595973.16,83968923.85,-507195154.45,-284161937.79,-104415487.44,0.00,0.13,0.42,0.73,0.26
185,5720,Sompo Seguros S.A.,2019,387357966.06,3413119464.20,282842153.78,185519017.38,91022393.59,-383884763.87,-237332167.62,-67138317.72,0.00,0.11,0.48,0.71,0.23
269,9938,SAFRA,2019,277740954.19,290018627.58,256616820.32,10480931.30,40311323.34,-13694135.36,-3794809.35,-630957.65,0.00,0.05,0.04,0.18,0.23

In [72]:
premio_2020 = final_dataset[final_dataset.year==2020].premium_life.sum()
(final_dataset[final_dataset.year==2020].premium_life / premio_2020).sort_values(ascending=False)

230   0.08
166   0.08
277   0.07
142   0.06
7     0.06
118   0.05
238   0.05
86    0.04
106   0.04
154   0.03
102   0.03
262   0.03
122   0.03
126   0.03
186   0.03
327   0.02
206   0.02
94    0.02
98    0.02
48    0.01
299   0.01
210   0.01
202   0.01
214   0.01
114   0.01
90    0.01
222   0.01
44    0.01
52    0.01
285   0.01
170   0.01
266   0.01
356   0.01
194   0.01
343   0.01
250   0.01
218   0.01
68    0.01
28    0.00
3     0.00
82    0.00
295   0.00
368   0.00
310   0.00
40    0.00
258   0.00
130   0.00
158   0.00
134   0.00
110   0.00
270   0.00
36    0.00
226   0.00
190   0.00
331   0.00
150   0.00
303   0.00
182   0.00
318   0.00
326   0.00
162   0.00
352   0.00
234   0.00
75    0.00
350   0.00
335   0.00
246   0.00
254   0.00
360   0.00
339   0.00
64    0.00
72    0.00
178   0.00
56    0.00
138   0.00
174   0.00
198   0.00
289   0.00
78    0.00
322   0.00
291   0.00
364   0.00
242   0.00
24    0.00
146   0.00
281   0.00
18    0.00
60    0.00
273   0.00
32    0.00
314   0.00
Name: premium_all, dtype: float64

In [80]:
foresight = pd.read_csv(path+'Ses_Contrib_Benef.csv',';',encoding='latin-1')
foresight.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22061 entries, 0 to 22060
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   coenti    22061 non-null  int64
 1   damesano  22061 non-null  int64
 2   tipoProd  22061 non-null  object
 3   contrib   22061 non-null  object
 4   benef     22061 non-null  object
dtypes: int64(2), object(3)
memory usage: 861.9+ KB

In [6]:
    income_statment = income_statment[(income_statment['damesano']>201612) &
                      (income_statment['quadro'] == '23 ') &
                      (income_statment.cmpid.isin([4069,6314,6315]))
                     ] 

# I prefered to work with the income_statment in wide format rather then long, so I converted the data frame.
income_statment = pd.pivot_table(income_statment, index=['coenti','damesano'],columns='cmpid', values='valor').rename_axis(None, axis=1).reset_index()
income_statment.rename(columns={4069: "ae",
                6314: "ae_employee",
                6315: "ae_3pspending",
                6317: "ae_publicity",
                6319: "ae_donations"}
       ,inplace=True )

#filtering the last period of each year
income_statment ['damesano'] = pd.to_datetime(income_statment['damesano'],format='%Y%m')

income_statment.head()

   coenti            ae  ae_employee  ae_3pspending  year
0    1007  -84945871.94 -32670914.56   -27031670.20  2017
1    1007 -110979218.53 -41663000.21   -34792803.26  2018
2    1007 -120870713.01 -40558909.19   -38199930.77  2019
3    1007  -39285988.54 -12235318.12   -14653105.72  2020
4    1015  -99919567.14 -66467556.99   -19859984.50  2020